# Firebase = スネーク係数
# fir-sample-tool -> fir_sample
name: fir_sample
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  # Flavor
  flutter_flavor: ^3.1.3
  flutter_flavorizr: ^2.2.3

  # Firebase
  firebase_core: ^3.2.0
  cloud_firestore: ^5.1.0
  firebase_auth: ^5.1.2
  firebase_remote_config: ^5.0.3

  # Freezed
  freezed_annotation: ^2.4.3

  get: ^4.6.6

  # UI
  fluttertoast: ^8.2.6

  # Util
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

  # Generator
  build_runner: ^2.4.9
  freezed: ^2.5.2
  json_serializable: ^6.8.0

flutter:
  uses-material-design: true
  assets:
    - dev.env
    - prod.env

flavorizr:
  app:
    android:
      flavorDimensions: "flavor-type"
  flavors:
    dev:
      app:
        name: "Flutter チュートリアル Dev"
      android:
        # Andorid = スネーク係数
        applicationId: "com.firebaseapp.fir_sample_tool"
      ios:
        # IOS = キャメル係数
        bundleId: "com.firebaseapp.firSampleTool"
    prod:
      app:
        name: "Flutter チュートリアル"
      # android:
      #   applicationId: "com.firebaseapp.fir_sample_tool_prod"
      # ios:
      #   bundleId: "com.firebaseapp.firSampleToolProd"
